<link href="../../Content/menu/simpleverticalmenu.css" rel="stylesheet" />
<script src="../../Scripts/menu/simpleverticalmenu.js"></script>

@model IEnumerable<Apteka.t_zamowienia>
           
@{
    ViewBag.Title = "Zamowienia";
}

<h2>@ViewBag.Message</h2>

<table>
    <tr>
        <th>
            Id Zamowienia
        </th>
        <th>
            Imie
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Login
        </th>
        <th>
            email
        </th>
        <th>
            Ulica
        </th>
        <th>
            Miasto
        </th>
        <th>
            Kod Pocztowy
        </th>
        <th>
            Status
        </th>
        <th>
                      
        </th>        
    </tr>

    @foreach (var item in Model) {    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_users.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_users.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_users.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_users.email)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.t_users.Ulica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_users.Miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_users.KodPocztowy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Zmień status", "ZmianaStatusu", new { id=item.Id })
        </td>               
    </tr>    
}
</table>