@model IEnumerable<Apteka.t_produkty>


<h2>@ViewBag.Message</h2>

@using (Html.BeginForm()){   
         <p> Nazwa: @Html.TextBox("SearchString") 
         <input type="submit" value="Filtruj" /></p>
        }

<table>
    <tr>
        <th>
            @Html.ActionLink("Cena", (string)ViewBag.ActionName, new { sortModel = Model.OrderBy(x => x.cena) })
        </th>
        <th>
            @Html.ActionLink("Ilość", (string)ViewBag.ActionName, new { sortModel = Model.OrderBy(x => x.ilosc) })
        </th>
        <th>
            @Html.ActionLink("Cena i ilość", (string)ViewBag.ActionName, new { sortModel = Model.OrderBy(x => x.cena).ThenBy(x => x.ilosc) })
        </th>
    </tr> 
</table>

<table>
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Opakowanie
        </th>
        <th>
            Sklep
        </th>
        <th>
            Cena
        </th>
        <th>
            Ilość
        </th>        
    </tr>

    @foreach (var item in Model) {    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.t_leki.nazwa_char)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_leki.opak_char)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_sklepy.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ilosc)
        </td>                
    </tr>    
}
</table>

@if(!(Model.Count()>0))
{
    <h3>Niestety brak wyników, zmień kryterium zapytania...</h3>
    <br />
}