@model Apteka.t_produkty

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć?</h3>
<fieldset>
    <legend>Produkty apteki.</legend>

    <div class="display-label">cena</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cena)
    </div>

    <div class="display-label">t_sklepy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.t_sklepy.Nazwa)
    </div>

    <div class="display-label">t_leki</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.t_leki.nazwa_char)
    </div>

    <div class="display-label">ilosc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ilosc)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Powrót", "Index")
    </p>
}
