@model Apteka.t_produkty

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<fieldset>
    <legend>@Model.t_leki.nazwa_char</legend>

    <img src="../../Content/themes/base/images/image_3.png"  alt="brak"/><br />

    <span>Nazwa leku: </span> <b>@Model.t_leki.nazwa_char</b><br />
    <span>Cena: </span> <b>@Model.cena</b><br />
    <span>Opakowanie: </span> <b>@Model.t_leki.opak_char</b><br />
    <span>Nazwa sklepu:</span> <b>@Model.t_sklepy.Nazwa</b><br />
    <span>Dostępna ilość:</span> <b>@Model.ilosc</b><br />
    <br />
    @Html.ActionLink("Dodaj do koszyka", "AddToCart", "ShoppingCart", new { id = Model.Id, returnUrl = Request.Url }, new { @class = "addtocard" })
    <br />
</fieldset>
<p>
    @if (Session["Admin"] == "Admin")
    {
        @Html.ActionLink("Edytuj", "Edit", new { id=Model.Id }) <p>|</p>
    }
    @Html.ActionLink("Powrót", "Index")
</p>
