@model Apteka.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Potwierdzenie realizacji zamówienia";
    ViewBag.difApt = Model.CartItems.Select(x => x.t_produkty.sklep_id).Distinct().Count();
}
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".transportOption").click(function () {
            var value = $(this).attr("value");
            $(".transportSum").html(value);
            var sum = parseInt($(".prodSum").html()) +
                parseInt($(".transportSum").html()) * parseInt($(".difApt").html()) +
                parseInt($(".paymentSum").html()) * parseInt($(".difApt").html());
            $(".allSum").html(sum);
            //console.log(sum);
        });

        $(".paymentOption").click(function () {
            var value = $(this).attr("value");
            $(".paymentSum").html(value);
            var sum = parseInt($(".prodSum").html()) +
                parseInt($(".transportSum").html()) * parseInt($(".difApt").html()) +
                parseInt($(".paymentSum").html()) * parseInt($(".difApt").html());
            $(".allSum").html(sum);
            //console.log();
        });
    });
</script>

@if (Model.CartTotalNumber > 0)
{
    <h2>@ViewBag.Title</h2>
    <br />
    <h3>Zakupione produkty:</h3>
    <table>
        <tr>
            <th>
                Nazwa leku
            </th>
            <th>
                Cena (każdy)
            </th>
            <th>
                Ilość
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr id="row-@item.RecordId">
                <td>
                    @item.t_produkty.t_leki.nazwa_char
                </td>
                <td>
                    @item.t_produkty.cena
                </td>
                <td id="item-count-@item.RecordId">
                    @item.Count
                </td>
            </tr>
        }
        <tr>
            <td>
                W sumie:
            </td>
            <td>
            </td>
            <td>
            </td>
            <td id="cart-total">
                @Model.CartTotal
            </td>
        </tr>
    </table>
    <br />
    <h3>Adres wysyłki:</h3>
    <span>Imie: </span> <b>@Model.User.Imie</b><br />
    <span>Nazwisko: </span> <b>@Model.User.Nazwisko</b><br />
    <span>Adres: </span> <b><p>@Model.User.Ulica @Model.User.NumerDomu / @Model.User.NumerMieszkania</p></b>
    <span>Kod pocztowy: </span> <b>@Model.User.KodPocztowy</b><br />
    <span>Miejscowość: </span> <b>@Model.User.Miasto</b><br />
    <span>Adres email: </span> <b>@Model.User.email</b><br />
    @Html.CheckBox("otherAddress")
    @Html.Label("Inny adres do wysyłki")
    <br />
    <h3>Sposób dostawy*:</h3>
        using (Html.BeginForm())
        {
    <table>
        <tr>
            <td>@Html.RadioButton("transportOption", "0", true, new { @class = "transportOption" }) Odbiór osobisty: <b>0 PLN</b></td>
        </tr>
        <tr>
            <td>@Html.RadioButton("transportOption", "10", false, new { @class = "transportOption" }) Przesyłka kurierska: <b>10 PLN</b></td>
        </tr>
        <tr>
            <td>@Html.RadioButton("transportOption", "7", false, new { @class = "transportOption" }) Przesyłka pocztowa (list polecony): <b>7 PLN</b></td>
        </tr>
        <tr>
            <td>@Html.RadioButton("transportOption", "5", false, new { @class = "transportOption" }) Przesyłka pocztowa (list zwykły): <b>5 PLN</b></td>
        </tr>
    </table>

    <br />
    <h3>Sposób płatności*:</h3>
    <table>
        <tr>
            <td>@Html.RadioButton("paymentOption", "0", true, new { @class = "paymentOption" }) W aptece: <b>0 PLN</b></td>
        </tr>
        <tr>
            <td>@Html.RadioButton("paymentOption", "5", false, new { @class = "paymentOption" }) Przelew na konto: <b>5 PLN</b></td>
        </tr>
        <tr>
            <td>@Html.RadioButton("paymentOption", "10", false, new { @class = "paymentOption" }) Przy odbiorze: <b>10 PLN</b></td>
        </tr>
    </table>
    <br />
    <h3>Podsumowanie**:</h3>
    <p>Ilość różnych aptek: <b><span class='difApt'>@ViewBag.difApt</span></b></p><br />
    <p>Cena produktów: <b><span class='prodSum'>@Model.CartTotal</span> PLN</b></p><br />
    <p>Opłata za dostawę: <b><span class='transportSum'>0</span> PLN</b> x @ViewBag.difApt</p><br />
    <p>Opłata za płatność: <b><span class='paymentSum'>0</span> PLN</b> x @ViewBag.difApt</p><br />
    <hr />
    <p>Całkowity koszt: <big><b><span class='allSum'>@Model.CartTotal</span> PLN</b></big></p><br />
    <p><small>* Sposób dostawy i płatności wybierasz dla wszystkich sklepów.</small></p>
    <p><small>** Przy zakupach w kilku różnych sklepach, cena za transport/płatność jest większa (równa wielokrotności wybranych sklepów).</small></p>
    <br />
    <input type="submit" value="Zatwierdzam" />
        }
}
else
{
     <h4>Niestety Twój koszyk jest pusty... Wybierz jakieś produkty.</h4>
     <br />
}