@model Apteka.ViewModels.ShoppingCartViewModel;
@{
    ViewBag.Title = "Potwierdzenie realizacji zamówienia";
}

@if (Model.CartTotalNumber > 0)
{
    <h2>@ViewBag.Title</h2>
    <br />
    <h3>Zakupione produkty:</h3>
    <table>
        <tr>
            <th>
                Nazwa leku
            </th>
            <th>
                Cena (każdy)
            </th>
            <th>
                Ilość
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr id="row-@item.RecordId">
                <td>
                    @item.t_produkty.t_leki.nazwa_char
                </td>
                <td>
                    @item.t_produkty.cena
                </td>
                <td id="item-count-@item.RecordId">
                    @item.Count
                </td>
            </tr>
        }
        <tr>
            <td>
                W sumie:
            </td>
            <td>
            </td>
            <td>
            </td>
            <td id="cart-total">
                @Model.CartTotal
            </td>
        </tr>
    </table>
    <br />
    <h3>Adres wysyłki:</h3>
    @foreach (Apteka.t_users item in Model.User)
    {
        @Html.TextBox(item.Imie)
        @Html.TextBox(@item.Nazwisko)
        @Html.TextBox(@item.Ulica)
        <!-- Numer domu by sie przydal -->
        @Html.TextBox(@item.KodPocztowy)
        @Html.TextBox(@item.Miasto)
        @Html.TextBox(@item.email)
        @Html.CheckBox("Inny adres do wysyłki")
    }
    <br />
    <h3>Sposób płatności:</h3>
    <br />
    <h3>Sposób dostawy:</h3>
    <br />
    <h3>Podsumowanie*:</h3>
    <p><small>* Przy zakupach w kilku różnych sklepach, cena za transport/płatność jest większa (równa wielokrotności wybranych sklepów).</small></p>
    <br />
    @Html.ActionLink("Zatwierdzam", "Enter", "Checkout")
}
else
{
     <h4>Niestety Twój koszyk jest pusty... Wybierz jakieś produkty.</h4>
     <br />
}