@model IEnumerable<Apteka.t_produkty>
           
@{
    ViewBag.Title = "Kosmetyki";
}

<h2>@ViewBag.Message</h2>

@using (Html.BeginForm()){   
         <p> Nazwa: @Html.TextBox("SearchString") 
         <input type="submit" value="Filtruj" /></p>
        }

<table>
    <tr>
        <th>
            <li>@Html.ActionLink("Cena", "Kosmetyki", "Sort")</li>
        </th>
        <th>
            <li>@Html.ActionLink("Ilość", "KosmetykiI", "Sort")</li>
        </th>
        <th>
            <li>@Html.ActionLink("Cena i ilość", "KosmetykiCI", "Sort")</li>
        </th>
    </tr> 
</table>

<table>
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Opakowanie
        </th>
        <th>
            Sklep
        </th>
        <th>
            Cena
        </th>
        <th>
            Ilość
        </th>        
    </tr>

    @foreach (var item in Model) {    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.t_leki.nazwa_char)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_leki.opak_char)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_sklepy.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ilosc)
        </td>                
    </tr>    
}
</table>